  <ion-view view-title="Pronto" ng-controller="EventsCtrl">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ui-sref='chat'>
        Chat
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="events-container">
        <form ng-submit="createEvent()">
          <label class="item item-input message-input">
            <input type="text" ng-model="eventVar" placeholder="Blurb your pronto event..."/>
          </label>
          <button class="button button-block button-calm" ng-click="submit">Send</button>
        </form>
      </div>
    </ion-content>
  </ion-view>