  <ion-view view-title="Pronto" ng-controller="MeetupCtrl">
    <ion-nav-buttons side="primary">
      <button class="button button-energized"  ui-sref='chat'>
        Chat
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="meetup-container">
        <form ng-submit="createMeetup()">
          <label class="item item-input message-input">
            <input type="text" ng-model='meetupObj.blurb' placeholder="Blurb your pronto meetup..."/>
          </label>
          <button class="button button-block button-calm" ng-click="submit">Send</button>
        </form>
      </div>
    </ion-content>
  </ion-view>