<ion-view view-title="Pronto" ng-controller="MeetupListCtrl" ng-init="getMeetups()">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ui-sref='chat'>
        Local
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="row row-top">
        <div class="col">
          <div class="chatbox-container">
            <ul class="listBox" >
              <li class="list-item" ng-repeat="meetup in meetups.slice().reverse() track by $index" ng-click="meetupClick(meetup)"><span>{{ meetup }} </span><br></li>
            </ul>
          </div>
          <form ng-submit='addMeetup()'>
            <label class="item item-input message-input">
              <input type="text" ng-model="newRoom.name" placeholder="Create a room ..."/>
            </label>
            <input type='button' class="button button-block button-calm" ng-click='addMeetup()' value="Post"></input>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-view>