  <ion-view view-title="Pronto" ng-controller="MeetupChatCtrl" ng-init="getMessages()">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ui-sref='meetupList'>
        Meetups
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="row row-bottom">
        <div class="col">
          <div class="chatbox-container">
            <ul class="chatbox">
              <li class="message-item" ng-repeat="message in messages track by $index"><span class="user">{{message.userName}}</span><br><span class="message">{{ message.message }}</span><br></li>
            </ul>
          </div>
          <form ng-submit='postMessage(messageObj.message)'>
            <label class="item item-input message-input">
              <input type="text" ng-model="messageObj.message" placeholder="Send a message ..."/>
            </label>
              <input type="button" class="button button-block button-calm" value='Send' ng-click='postMessage(messageObj.message)'></input>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-view>
